<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Class in Paris - Dalila RAPOSO</title>
    <link rel="stylesheet" href="/css/cours-individuel.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Italianno&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Italiana&family=Italianno&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('header', { page: 'cours-individuel' }) %>

    <div class="page-container">
        <h1 class="main-title">Cours Particuliers de Français</h1>

        
        <div class="subtitle-container">
            <p id="subtitle" class="subtitle"> </p>
        </div>
        
    
        <div>
            <div class="text-explicatif">
                <h3>Avec moi, oubliez les méthodes rigides et impersonnelles.</h3>
                <p>Chaque cours est conçu sur mesure, en fonction de vos besoins, de votre rythme et de vos ambitions. Que vous souhaitiez affiner votre expression et compréhension, exceller dans un cadre professionnel ou simplement converser avec fluidité, je vous propose un accompagnement exclusif et hautement personnalisé.
                </p>
            </div>
        </div>

        <div>
            <div class="text-explicatif-bis">
                <h3>Ce qui fait la différence ? Une approche immersive et interactive où la langue se vit et s’apprend naturellement. </h3>
                <p>Ici, pas de répétitions mécaniques ni d’exercices rébarbatifs : nous privilégions des mises en situation réelles, des échanges vivants et une pédagogie élégante et efficace, pour que chaque progrès soit un plaisir.
                </p>
            </div>
        </div>


    
        <div class="content-wrapper">
            <div class="image-section">
                <img src="/img/cours-individuel.jpeg" alt="Cours de français">
            </div>
            
            <div class="pricing-section">
                <div class="pricing-box">
                    <h2>Tarifs individuels en Présentiel</h2>
                    <p>1h15 : 60 €</p>
                    <p>Forfait 10 heures (10x1h15) : 570 € (soit 57€ de l'heure et quart)</p>
                    <p>Forfait 20 heures (20x1h15) : 1100 € (soit 55€ de l'heure et quart)</p>
                </div>
                
                <div class="pricing-box">
                    <h2>Tarifs individuels en Visio</h2>
                    <p>1h15 : 50 €</p>
                    <p>Forfait 10 heures (10x1h15) : 480 € (soit 48€ de l'heure et quart)</p>
                    <p>Forfait 20 heures (20x1h15) : 940 € (soit 47€ de l'heure et quart)</p>
                </div>
            </div>
        </div>
        
    

    <script src="/js/cours.js"></script>
</body>
</html>