<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Class in Paris - Dalila RAPOSO</title>
    <link rel="stylesheet" href="/css/experiences.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Italianno&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Italiana&family=Italianno&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap">
</head>
<body>
    <%- include('header', { page: 'experiences' }) %> 

    <main>
        <div class="text-acceuil">
            <h1>Expériences lors de votre séjour à Paris</h1>
            <h2>Un moment convivial et enrichissant qui allie apprentissage, culture et gastronomie française.</h2>
      
            <p>Découvrez le monde raffiné de l'enseignement, découvrez des Cours de français au cours d’un petit-déjeuner et Cours de français autour d’un goûter.</p>
      
            <p>Que vous soyez débutant ou déjà initié, mon approche interactive vous permettra de pratiquer le français de manière naturelle et décontractée. 
               Nous aborderons des sujets de conversation variés.
            </p>
      
            <p class="accroche">Transformez votre potentiel en réussite concrète</p>
        </div>
        
        <div class="text-container">
            <p>Rejoignez-moi pour une expérience unique ! </p>
        </div>
    </main>

    <footer class="footer">
        <p class="footer-subtitle">Immergez-vous dans la culture française lors de nos petits-déjeuners et goûters conviviaux</p>
    
        <div class="footer-cards">
            <div class="card">
                <img src="img/petit-dejeuner.jpeg" alt="Petit-déjeuner parisien">
                <h3>Petit-déjeuner typique parisien</h3>
                <p>Découvrez l'art de parler français tout en savourant un délicieux petit déjeuner dans un cadre intime et authentique près de Montmartre. </p>
                <a href="/petit-dejeuner">En savoir plus → </a>
            </div>
            <div class="card">
                <img src="img/Gouter.jpeg" alt="Goûter culturel">
                <h3>Goûter culturel</h3>
                <p>Vivez un moment convivial et enrichissant qui allie apprentissage, culture et gastronomie française.</p>
                <a href="/gouter">En savoir plus → </a>
            </div>
            <div class="card">
                <img src="/img/Salle-classe.jpeg" alt="Bibliothèque cosy">
                <h3>Rencontres, Conversations & Culture</h3>
                <p>Profitez d’un cadre chaleureux pour discuter et enrichir vos connaissances.</p>
                <a href="/gouter">En savoir plus → </a>
            </div>
        </div>
    
     
  <!-- Inclure le footer-->
  <%- include('footer-experiences') %>

</body>
</html>
