<header>
    <link rel="stylesheet" href="/public/css/header.css">

    <div class="logo">
      
        <img src="/logo FCIP.Jpeg" alt="Logo Dalila Raposo">
    
    </div>
    <!-- Menu de navigation -->
    <nav class="navigation" id="navigation">
      <a href="/" class="active">Accueil</a>
      <a href="/about">À propos de moi</a>
      <a href="/services">Services</a>
      <a href="/experiences">Expérience unique</a>
      <a href="/contact">Contact</a>
    </nav>
  
    <!-- Menu burger -->
    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </header>
  
  

  